<!DOCTYPE html>
<html data-ng-app="movieManager">
<head lang="en">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>The Movie App</title>
    <link rel="stylesheet" type="text/css" href="/client/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/client/css/app.css"/>
</head>
<body>
<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" ui-sref="movies">The Movie App</a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a ui-sref="movies">Home</a></li>
            </ul>
        </div>
    </div>
</nav>
<div class="container">
    <div class="row top-buffer">
        <div class="col-xs-8 col-xs-offset-2">
            <div ui-view></div> <!--   This is where our views will load -->
        </div>
    </div>
</div>
<script type="text/javascript" src="https://code.angularjs.org/1.3.8/angular.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.13/angular-ui-router.js"></script>
<!--  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.13/angular-ui-router.min.js"></script>-->
<!--<script type="text/javascript" src="https://code.angularjs.org/1.3.8/angular-resource.min.js"></script>-->
<script type="text/javascript" src="https://code.angularjs.org/1.3.8/angular-resource.js"></script>
<script src="https://code.angularjs.org/1.3.8/angular-route.js"></script>
<script type="text/javascript" src="/client/appClient.js"></script>
<script type="text/javascript" src="/client/services/appServices.js"></script>
<script type="text/javascript" src="/client/controllers/appController.js"></script>


</body>
</html>